{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
     آموزش ها
{% endblock %}

{% block Link %}
<link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />
<link rel="stylesheet" href="/assets/frontend/styles/Education.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
{% block Content %}
  <body class="bg">

     <!-- START content modal Package new education-->
     <div class="content-modal" id="modal-education-pakage">
        <div class="inner-modal">
          <div class="content height-size">
            <form class="px-4 pt-2" method="post" id="instruction" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="uplode-image mx-4 my-2">
                <span>
                  عکس
                  <img src="/assets/frontend/images/plus.png">
                </span>
                <div class="col-12 px-4 py-2 ">
                  <input class="form-control  " type="file" name="image" id="topic-edu" aria-label=".form-control-lg example">
                </div>
              </div>
            <div class="col-12 px-4 py-2 ">
              <input class="form-control  " type="text" name="amozesh" id="topic-edu" placeholder="موضوع آموزش" aria-label=".form-control-lg example">
            </div>
            <div class="col-12 px-4 py-2 ">
                <input class="form-control " type="text" name="mavad" id="Materials" placeholder="مواد اولیه" aria-label=".form-control-lg example">
              </div>
              <div class="col-12 px-4 py-2 ">
                <input class="form-control " type="text" name="zaman" id="time" placeholder="زمان (دقیقه)" aria-label=".form-control-lg example">
              </div>
            <div class="col-12  px-4 py-2">
              <select name="brand" id="brand-mobile">
                <option value="apple">میزان سختی</option>
              </select>
          </div>
              <div class="col-12 px-4 py-2 ">
                <textarea class="description-textarea " cols="50" rows="7" name="recipe" placeholder="دستور پخت"></textarea>
              </div>
              <div class="col-12 px-4 py-2 ">
                <div class="desired-package" onclick="validate()">
                  <label>پکیج دلخواه</label>
                  <label class="btn-package-desired">
                      <input class="inpute-checkbox" type="checkbox" id="check-input">
                      <span class="circle-in" id="small-circle"></span>
                      <span class="circle-out" id="circle-bironi"></span>
              
                  </label>
              </div>
              </div>
              <div class="col-12" id="package-delkhah" style="display: none;">
                <div class="col-12  px-4 py-2 " >
                  <select name="equipment" id="Equipment">
                    <option value="funnel">قیف</option>
                    <option value="cake-powder">پودر کیک</option>
                  </select>
                 </div>
        
                  <div class="col-12 px-4 py-2  ">
                    <input class="form-control " type="text" placeholder="قیمت (تومان)" aria-label=".form-control-lg example">
                  </div>
              </div>
              <div class="birthday-package mt-2" >
                <button type="submit" name="add-instruction">تعریف آموزش جدید</button>
              </div>
          </form>
          </div>
          
  
        </div>
  
      </div>
 <!-- End content modal Package education-->

  <!-- START content modal  pakage new Article-->
  <div class="content-modal" id="modal-add-Article">
    <div class="inner-modal">
      <div class="content">
        <form class="px-4 pt-2" method="post">
          {% csrf_token %}
            <div class="uplode-image mx-4 my-2">
                <span>
                  <img src="/assets/frontend/images/plus.png">
                </span>
                <p class="mb-0">عکس مقاله را<br> اضافه کنید</p>
              </div>
          <div class="col-12 px-4 py-2 ">
            <input class="form-control " type="text" name="article-title" id="Article" placeholder="موضوع مقاله" aria-label=".form-control-lg example">
          </div>
          <div class="col-12 px-4 py-2 ">
            <textarea class="description-textarea " name="article-content" cols="50" rows="7" placeholder="توضیحات"></textarea>
          </div>
          <div class="birthday-package mt-2">
            <button type="submit" name="add-article">تعریف مقاله جدید</button>
          </div>
      </form>
      </div>
    </div>

  </div>
<!-- End content modal  pakage new Article-->






     <!-- START Header Package education and Article-->
    <div class="container-fluid container-admin" style="position:relative ;">
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/icon/Group 1900.png"
              alt="icon"
              /></span>
          <h5>مقالات و آموزش ها</h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
<!--Edn Header Package education and Article-->

      <!-- START MAIN -->
      <main class="main">
          <!-- START BTNS  -->
          <div class="btns">
            <div class="btn-change col-6 text-center active">آموزش ها</div>
            <div class="btn-change col-6 text-center ">مقاله ها</div>
          </div>
          <!-- END BTNS  -->
           <!-- start content pakage education -->
           <div class="content-pakage active">
            <section class="category-product">
              <!-- start -->
              {% for instruction in instructions %}
              <div class="col-12 col-md-6  p-2 pp">
                <div class="product-item">
                  <div class="col-4 col-md-4 height">
                    <div class="img-product"><img src="/assets/frontend/images/pic3.png"
                        alt=""></div>
                  </div>
                  <div class="col-7 col-md-7 moshakhaseh">
                    <div class="sweat-name">{{ instruction.title }}</div>
                    <div class="description">
                      <div class="description-item col-12">
                        <span>{{ instruction.description }}</span>
                      </div>

                      <div class="detiles">
                        <div class="col-6 p-1">
                            <div class="detiles-item">
                                <span class="col-9 right"> زمان (دقیقه)</span>
                                <span class="left col-3">{{ instruction.time }}</span>
                            </div>
                        </div>
                        <div class="col-6 p-1">
                            <div class="detiles-item">
                                <span class="col-8 right"> درجه سختی</span>
                                <span class="left col-4">{{ instruction.difficulty }}</span>
                            </div>
                        </div>

                      </div>
                    </div>
                 
                  </div>
                 
                  <div class="col-1 bbb">
                    <div class="cart">
                      <div class="cart-image-trash"><img src="/assets/frontend/images/trash.png" alt=""></div>
                     <div class="cart-image-edit"><img src="/assets/frontend/images/edit.png" alt=""></div>
                    </div>
                  </div>
  
                </div>
  
              </div>
              {% empty %}
              <div class="container-not-found-base">
                  <p>چیزی یافت نشد</p>
              </div>
              {% endfor %}
            </section>
            <!-- start btn bottom -->
            <div class="btn-main col-12 " id="new-education-btn">
              <div class="btn-main-content">
               <span>
                 <img src="/assets/frontend/images/plus1.png">
               </span>
               <p class="mb-0 me-1">آموزش جدید</p>
 
              </div>
               
             </div>
          </div>
            <!-- END content pakage education -->

            <!-- Start content pakage Article -->
          <div class="content-pakage">
            <section class="category-product">
              <!-- start -->
              {% for article in articles%}
              <div class="col-12 col-md-6 p-2 pp">
                <div class="product-item">
                  <div class="col-3 col-md-4 height">
                    <div class="img-product"><img src="/assets/frontend/images/pic4.png"
                        alt=""></div>
                  </div>
                  <div class="col-6 col-md-5 moshakhaseh">
                    <div class="sweat-name"> {{article.title}} </div>
                    <div class="description">
                      <div class="description-item col-12">
                        <span> {{ article.description }}<span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 bbb">
                    <div class="cart">
                      <div class="cart-image-trash"><img src="/assets/frontend/images/trash.png" alt=""></div>
                     <div class="cart-image-edit"><img src="/assets/frontend/images/edit.png" alt=""></div>
                    </div>
                  </div>
  
                </div>
  
              </div>
              {% empty %}
              <div class="container-not-found-base">
                  <p>چیزی یافت نشد</p>
              </div>
              {% endfor %}
            </section>
            <!-- start btn bottom -->
            <div class="btn-main col-12 " id="new-Article-btn">
              <div class="btn-main-content">
               <span>
                 <img src="/assets/frontend/images/plus1.png">
               </span>
               <p class="mb-0 me-1">مقاله جدید</p>
 
              </div>
               
             </div>
          </div>
             <!-- End content pakage Article -->
      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="/assets/frontend/vendors/bootstrap.min.js"></script>

    <!-- MAIN JS -->
   
    <!-- <script src="/assets/frontend/js/admin/Education.js" type="module"></script> -->
    <script src="/assets/frontend/js/admin/Education.js"></script>
  </body>
{% endblock %}
