<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>نظرات کاربران</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/User-comments.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body class="bg">

     <!-- START Header Package User-comments-->
    <div class="container-fluid container-admin" style="position:relative ;">
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/icon/Group 1900.png"
              alt="icon"
              /></span>
          <h5>نظرات کاربران</h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
<!--Edn Header Package User-comments-->

      <!-- START MAIN -->
      <main class="main p-2">
           <!-- START content Package User-comments-->
        <div class="content-package">
            <div class="category-product p-2">
              <!-- start -->
                <div class="col-12 col-md-6 p-2">
                    <div class="product-item p-2">
                        <div class="col-4">
                            <div class="image">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="text-image">
                                <span >نام محصول</span>
                            </div>
                            
                        </div>
                        <div class="col-8 p-1">
                          <div class="col-12 user-name">
                            <span>نام و نام خانوادگی</span>
                          </div>
                          <div class="detail ">
                            <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</span>

                          </div>
                          <div class="col-12 check">
                            <div class="p-2 ">
                              <img class="right p-1" src="/assets/frontend/images/check.png">
                            </div>
                            <div class="p-2 ">
                              <img class="left p-1" src="/assets/frontend/images/zarb.png">
                            </div>

                          </div>

                        </div>

                    </div>

                </div>
                <div class="col-12 col-md-6 p-2">
                  <div class="product-item p-2">
                      <div class="col-4">
                          <div class="image">
                              <img src="/assets/frontend/images/pic5.png">
                          </div>
                          <div class="text-image">
                              <span >نام محصول</span>
                          </div>
                          
                      </div>
                      <div class="col-8 p-1">
                        <div class="col-12 user-name">
                          <span>نام و نام خانوادگی</span>
                        </div>
                        <div class="detail ">
                          <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</span>

                        </div>
                        <div class="col-12 check">
                          <div class="p-2 ">
                            <img class="right p-1" src="/assets/frontend/images/check.png">
                          </div>
                          <div class="p-2 ">
                            <img class="left p-1" src="/assets/frontend/images/zarb.png">
                          </div>

                        </div>

                      </div>

                  </div>

              </div>
              <div class="col-12 col-md-6 p-2">
                <div class="product-item p-2">
                    <div class="col-4">
                        <div class="image">
                            <img src="/assets/frontend/images/pic5.png">
                        </div>
                        <div class="text-image">
                            <span >نام محصول</span>
                        </div>
                        
                    </div>
                    <div class="col-8 p-1">
                      <div class="col-12 user-name">
                        <span>نام و نام خانوادگی</span>
                      </div>
                      <div class="detail ">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</span>

                      </div>
                      <div class="col-12 check">
                        <div class="p-2 ">
                          <img class="right p-1" src="/assets/frontend/images/check.png">
                        </div>
                        <div class="p-2 ">
                          <img class="left p-1" src="/assets/frontend/images/zarb.png">
                        </div>

                      </div>

                    </div>

                </div>

            </div>
            </div>
        </div>
       <!-- End content Package User-comments-->







      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="./assets/vendors/bootstrap.min.js"></script>

    <!-- MAIN JS -->
   
  </body>
</html>
