{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    سفارشات
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/vendors/bootstrap.min.css' %}"/>

    <!-- SWIPER -->
    <link rel="stylesheet" href="{% static 'frontend/vendors/swiper.css' %}"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'frontend/styles/List-of-orders.css' %}"/>

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}


{% block Style %}
    <style>
        .search-item {
            margin: auto;
            margin-top: 23px;
            border-radius: 10px;
            color: #fff;
            background-color: #444;
            border: 1px solid #999;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px;
        }


        .search-item input {
            width: 100%;
            padding: 5px;
            display: block;
            margin: auto;
            border: none;
            outline: none;
        }

        .search-item input::placeholder {
            color: #aaa;
        }

        .search-item button {
            background-color: #222;
            color: #fff;
            padding: 8px;
            width: 90px;
            border-radius: 10px;
        }
    </style>
{% endblock %}


{% block Content %}
    <body class="bg">

    {% for cart in carts %}
        <div class="content-modal order-status">
            <div class="inner-modal">
                <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                    <form class="p-5" action="{% url 'product:cart_status' cart_id=cart.id %}" method="post">
                        {% csrf_token %}
                        <p class="text-center" style="color: #999">
                            کد رهگیری : {{ cart.get_track_code }}
                        </p>
                        <div>
                            <label>
                                وضعیت
                            </label>
                            <select name="status" class="form-control form-select text-center" required>
                                {% for status_option in cart.cartstatus.STATUS_OPTIONS %}
                                    <option value="{{ status_option.0 }}"
                                            {% if cart.cartstatus.status == status_option.0 %}selected{% endif %}>{{ status_option.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>
                                زمان تا تحویل(دقیقه)
                            </label>
                            <input type="text" name="delivery_time" class="form-control"
                                   value="{{ cart.cartstatus.delivery_time|default:'' }}" required>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-success col-12">
                                ثبت
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}


    <!-- START Header General orders-->
    <div class="container-fluid container-admin" style="position:relative ;">
        <header class="header-m-oprator">
            <div class="title">
          <span class="back"><img src="{% static 'frontend/images/icon/Group 1900.png' %}"
                                  alt="icon"
          /></span>
                <h5>لیست تمام سفارشات</h5>
            </div>
            <div class="The-dividing-line"></div>
        </header>
        <!--Edn Header General orders-->
        <!-- START MAIN -->
        <main class="main p-3">
            <!-- START BTNS  -->
            <div class="btns">
                <div class="btn-change col-4 text-center active" id="btn-birth">سفارشات فعال</div>
                <div class="btn-change col-4 text-center" id="btn-birth">سفارشات نیاز به پرداخت</div>
                <div class="btn-change col-4 text-center" id="make-sweet">سفارشات موفق</div>
            </div>
            <!-- END BTNS  -->
            <!-- start content General orders  -->

            <!-- End content General orders  -->
            <!-- start content showcase of the day  -->
            <div class="content-price active">
                <section class="category-price p-1 col-12 d-block">
                    <div class="mb-5">
                        <form class="search-item col-12 col-md-6" method="get">
                            <div class="col-10">
                                <input type="text" name="search_carts" value="{{ request.GET.search_carts }}"
                                       style="color: #fff;" id="search-bar"
                                       placeholder="نام کاربر ، شماره کاربر ، کد رهگیری ..">
                            </div>
                            <button type="submit">
                                جست و جو
                            </button>
                        </form>
                    </div>
                    <div class="row">
                        <!-- start -->
                        {% for cart in carts %}
                            <div class="col-12 col-md-6 px-1 py-1">
                                <div class="price-item ">
                                    <div class="p-3 col-12">
                                        <div class="col-12 detail">
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">کد رهگیری:</label>
                                                <input class="col-8" type="text" name="code" id="code-rahgiri"
                                                       placeholder="45880215" value="{{ cart.get_track_code }}"
                                                       disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">تاریخ و زمان سفارش:</label>
                                                <input class="col-8" type="text" name="value-date" id="date-kharid"
                                                       placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                                       value="{{ cart.get_time_submited }}({{ cart.get_timepast_submited }})"
                                                       disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                                <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                                       placeholder="نام ونام خانوادگی 09122254545"
                                                       value="{{ cart.get_receiver_user_info }}" disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <input class="col-12 adres" type="text" name="value-address"
                                                       id="address"
                                                       placeholder=""
                                                       value="{{ cart.factor.address.address }}" disabled>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <div class="moshakhasat py-1">
                                                <div class="col-12 txt-main p-2">
                                                    <div class="col-12 Total-price pt-1">
                                                        <div class="col-12 item-list p-1">
                                                            <span>مجموع</span>
                                                            <div>
                                                                <span class="price-el">{{ cart.factor.price }}</span>
                                                                <span>تومان</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex justify-content-between col-12 p-3 mb-2">
                                            <div>
                                                <div class="order-status-label {{ cart.cartstatus.status }}">
                                                    {{ cart.cartstatus.get_status_label }}
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-success p-2 btn-order-status">
                                                    تخمین و وضعیت
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 btn-bottom p-2">
                                        <a href="{{ cart.get_absolute_url }}" class="col-12 d-block">جزئیات</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>


            <div class="content-price">
                <section class="category-price p-1 col-12 d-block">
                    <div class="mb-5">
                        <form class="search-item col-12 col-md-6" method="get">
                            <div class="col-10">
                                <input type="text" name="search_carts_pending_payment"
                                       value="{{ request.GET.search_carts_pending_payment }}"
                                       style="color: #fff;" id="search-bar"
                                       placeholder="نام کاربر ، شماره کاربر و ..">
                            </div>
                            <button type="submit">
                                جست و جو
                            </button>
                        </form>
                    </div>
                    <!-- start -->
                    <div class="row">
                        {% for cart in carts_pending_payment %}
                            <div class="col-12 col-md-5 px-1 py-1 mx-1">
                                <div class="price-item ">
                                    <div class="p-3 col-12">
                                        <div class="col-12 detail">
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">کاربر :</label>
                                                <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                                       placeholder="نام ونام خانوادگی 09122254545"
                                                       value="{{ cart.user.get_full_name }}({{ cart.user.get_raw_phonenumber }})" disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">تعداد ایتم ها :</label>
                                                <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                                       placeholder="نام ونام خانوادگی 09122254545"
                                                       value="{{ cart.get_all_orders_count }}" disabled>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <div class="moshakhasat py-1">
                                                <div class="col-12 txt-main p-2">
                                                    <div class="col-12 Total-price pt-1">
                                                        <div class="col-12 item-list p-1">
                                                            <span>مجموع</span>
                                                            <div>
                                                                <span class="price-el">{{ cart.get_total_price }}</span>
                                                                <span>تومان</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 btn-bottom p-2">
                                        <a href="{{ cart.get_absolute_url }}" class="col-12 d-block">جزئیات</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>


            <div class="content-price">
                <section class="category-price p-1 col-12 d-block">
                    <div class="mb-5">
                        <form class="search-item col-12 col-md-6" method="get">
                            <div class="col-10">
                                <input type="text" name="search_carts_delivered"
                                       value="{{ request.GET.search_carts_delivered }}"
                                       style="color: #fff;" id="search-bar"
                                       placeholder="نام کاربر ، شماره کاربر ، کد رهگیری ..">
                            </div>
                            <button type="submit">
                                جست و جو
                            </button>
                        </form>
                    </div>
                    <div class="row">
                        {% for cart in carts_delivered %}
                            <div class="col-12 col-md-6 px-1 py-1">
                                <div class="price-item ">
                                    <div class="p-3 col-12">
                                        <div class="col-12 detail">
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">کد رهگیری:</label>
                                                <input class="col-8" type="text" name="code" id="code-rahgiri"
                                                       placeholder="45880215" value="{{ cart.get_track_code }}"
                                                       disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">تاریخ و زمان سفارش:</label>
                                                <input class="col-8" type="text" name="value-date" id="date-kharid"
                                                       placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                                       value="{{ cart.get_time_submited }}({{ cart.get_timepast_submited }})"
                                                       disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                                <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                                       placeholder="نام ونام خانوادگی 09122254545"
                                                       value="{{ cart.get_receiver_user_info }}" disabled>
                                            </div>
                                            <div class="col-12 detail-item p-2">
                                                <input class="col-12 adres" type="text" name="value-address"
                                                       id="address"
                                                       placeholder="25"
                                                       value="{{ cart.factor.address.address }}" disabled>
                                            </div>

                                        </div>
                                        <div class="col-12">
                                            <div class="moshakhasat py-1">
                                                <div class="col-12 txt-main p-2">
                                                    <div class="col-12 Total-price pt-1">
                                                        <div class="col-12 item-list p-1">
                                                            <span>مجموع</span>
                                                            <div>
                                                                <span class="price-el">{{ cart.factor.price }}</span>
                                                                <span>تومان</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 btn-bottom p-2">
                                        <a href="{{ cart.get_absolute_url }}" class="col-12 d-block">جزئیات</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>

        </main>
    </div>
    </body>
{% endblock %}

{% block Script %}

    <!--BOOTSTRAP -->
    <script src="{% static 'frontend/vendors/bootstrap.min.js' %}"></script>

    <!-- MAIN JS -->

    <script src="{% static 'frontend/js/admin/List-of-orders.js' %}" type="module"></script>
    <script>
        // ---

        let btns_orders_status = document.querySelectorAll(".btn-order-status");
        let orders_status = document.querySelectorAll(".order-status");

        btns_orders_status.forEach((item, index) => {
            item.addEventListener("click", () => {
                btns_orders_status.forEach((item) => {
                    item.classList.remove("active");
                });
                orders_status.forEach((item) => {
                    item.classList.remove("active");
                });
                btns_orders_status[index].classList.add("active");
                orders_status[index].classList.add("active");

                // active default item
                try {
                    orders_status[index].querySelector('.products-item').click()
                } catch (e) {
                }
            });
        });


        let overalyModals = document.querySelectorAll(".order-status .inner-modal");

        btns_orders_status.forEach((item, index) => {
            item.addEventListener("click", () => {
                orders_status[index].classList.add("active");
            });

        });
        overalyModals.forEach((item, index) => {
            item.addEventListener("click", (e) => {
                if (e.target.className === "inner-modal") {
                    orders_status[index].classList.remove("active");
                }
            });
        })
    </script>
{% endblock %}