{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
     آموزش ها
{% endblock %}

{% block Link %}
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/instruction.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block Content %}
  <body class="bg">

<!-- START content modal instruction-->
<div class="content-modal" id="modal-instruction">
  <div class="inner-modal">
    <div class="content">
      <div class="menu-admin-two">
        <div class="inner-menu-mobile-two">
          <section class="transaction">
            <div class="title" style="height: 20%;">مقاله ها</div>
            <div class="list-transaction">
              <div class="swiper" id="slider-main">
                <div class="swiper-wrapper">
                  <!-- START ITEM SLIDER -->
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/product.jpeg" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/img1.png" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/img2.png" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/img3.png" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/product.jpeg" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/img1.png" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/img2.png" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/assets/frontend/images/img3.png" alt="">
                    <div class="contente-txt">
                      <h5>اسم مقاله</h5>
                      <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در</span>
                      <div class="img-b">
                        <img src="/assets/frontend/images/bottom-f.png">
                      </div>
                     
                    </div>
                  </div>
                  <!-- end ITEM SLIDER -->


                </div>
                <div class="swiper-pagination"></div>
              </div>

            </div>

          </div>
      </div>

    </div>
  </div>

</div>
<!-- End content modal  instruction-->





  <!-- START Header instruction-->
    <div class="container-fluid container-admin" style="position:relative ;">
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/icon/Group 1900.png"
              alt="icon"
              /></span>
          <h5>آموزش ها</h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
      <!-- end Header instruction-->

 <!-- START MENU-BOTTOM -->
 <div class="menu-bottom">
  <ul class="list-bottom">
    <li class="item-bottom active">
      <a href="#">
        <img src="/assets/frontend/images/icon/users.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/home.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/Bag.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/hat.png" alt="icon" />
      </a>
    </li>
  </ul>
</div>
<!-- END MENU-BOTTOM -->

      <!-- START MAIN -->
      <main class="main">


        <!-- start content -->
        <section class="category-instruction" style="padding-bottom: 45px;    margin-bottom: 50px;">
          <!-- start -->
          {% for instruction in instructions %}
          <div class="col-12 col-md-6 p-2 pp">
            <div class="instruction-item">
              <div class="col-4 col-md-4 height">
                <div class="img-instruction"><img src="/assets/frontend/images/6.jpeg"
                    alt=""></div>
              </div>
              <div class="col-7 description">
                <div class="name-instruction"> {{instruction.title}}</div>
                <a href="#">
                  <div class="the-description">{{instruction.description}}
                  </div>
                </a>
                <div class="detiles">
                  <span class="time">
                    <div class="pl-2"><img src="/assets/frontend/images/CLOCK.png"
                        alt=""></div>

                    <span class="mt-1 pr-1">{{instruction.time}}دقیقه</span>
                  </span>

                  <span class="det">
                    <div><img src="/assets/frontend/images/kitchen.png" alt=""></div>
                    <span class="mt-1 pr-1">{{instruction.difficulty}}</span>
                  </span>

                </div>
              </div>

              <div class="col-1 bbb">
                <div class="more">
                  <img src="/assets/frontend/images/more.png" alt="">
                </div>
              </div>

            </div>
          </div>
          {% endfor %}
        </section>
        <!-- btn bottom -->
        <div class="col-12 maghale p-2" id="maghale">
          <span>مقاله</span>

        </div>
        


      </main>

    </div>
        <!--BOOTSTRAP -->
        <script src="/assets/frontend/vendors/bootstrap.min.js"></script>
        <script src="/assets/frontend/vendors/swiper.js"></script>

        <!-- MAIN JS -->
       
        <script src="/assets/frontend/js/two.js" type="module"></script>
      </body>
{% endblock %}
