@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.menu-bottom{
    border-radius: 0;
}
.main {
    .inner-pakage-row{
        padding: 10px 20px 125px 20px;
    .inner-pakage-input{
        padding: 10px 15px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        background-color:$color-bg-primary;
        .right{
            color:$color-primary;
            width: 40%;
        }
        .left{
            display: flex;
            width:60%;
            justify-content: end;
            align-items: center;
            text-align: center;
            .name-sweet{
                padding-left: 10px;
                color:$color-primary;
            }
        }
    }
    }
    .content-pakage{
        display: none;
        padding-bottom: 58px;

        .footer{
            background-color: #5d59599e;
            
            .footer-item{
                height: 60px;
                .txt-left{
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.active{
            display: flex;
        }
    }

}
@import "./medias";
