{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    سفارش
    #{{ cart.id }}
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/vendors/bootstrap.min.css' %}"/>

    <!-- SWIPER -->
    <link rel="stylesheet" href="{% static 'frontend/vendors/swiper.css' %}"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'frontend/styles/Order-details.css' %}"/>


    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block Style %}

    <style type="text/css" media="print">
        /*
        #btns-action {
            display: none;
        }

        #payment-detail {
            display: none;
        }
        */

    </style>

    <style>
        .status-type {
            font-size: 110%;
            color: #bbb;
        }

        .status-type.active {
            color: rgba(234, 175, 45, 1);
        }

        .status-type > div {
            display: inline-block;
        }

        input {
            text-align: left;
            color: #777;
        }

    </style>
{% endblock %}

{% block Content %}
    <body>

    <!-- Modal -->
    <div class="modal fade" id="modal-status-order" tabindex="-1" aria-labelledby="modal-status-order"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="p-5" action="{% url 'product:cart_status' cart_id=cart.id %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-status-order">تغییر وضعیت سفارش</h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-center" style="color: #999">
                            کد رهگیری : {{ cart.get_track_code }}
                        </p>
                        <div>
                            <label>
                                وضعیت
                            </label>
                            <select name="status" class="form-control form-select text-center" required>
                                {% for status_option in cart.cartstatus.STATUS_OPTIONS %}
                                    <option value="{{ status_option.0 }}"
                                            {% if cart.cartstatus.status == status_option.0 %}selected{% endif %}>{{ status_option.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label>
                                زمان تا تحویل(دقیقه)
                            </label>
                            <input type="text" name="delivery_time" class="form-control"
                                   value="{{ cart.cartstatus.delivery_time|default:'' }}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-primary col-3">ثبت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-payment-order" tabindex="-1" aria-labelledby="modal-payment-order"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="p-5" action="{% url 'product:cart_manual_payment' cart_id=cart.id %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-payment-order">پرداخت سفارش</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>
                                مبلغ
                            </label>
                            <input type="number" name="price" class="form-control"
                                   value="{{ cart.get_total_price_for_payment }}" required input-amount-spread
                                   spread-label="spread-price-el">
                            <p class="text-left m-1" id="spread-price-el"></p>
                        </div>
                        <div class="my-1">
                            <label>
                                نوع دریافت
                            </label>
                            <select name="delivery_type" required class="form-control">
                                <option value="in-person">تحویل حضوری</option>
                                <option value="online">تحویل درب منزل</option>
                            </select>
                            <div id="cnt-choice-address" class="my-2 d-none">
                                <label>
                                    ادرس
                                </label>
                                <select name="address" class="form-control">
                                    {% for address in cart.user.get_addresses %}
                                        <option value="{{ address.id }}">{{ address.address|truncatechars:30 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="my-1">
                            <label>
                                توضیحات
                            </label>
                            <textarea name="note" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-primary col-3">پرداخت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-delete-order" tabindex="-1" aria-labelledby="modal-delete-order"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="p-5" action="{% url 'product:cart_delete' cart_id=cart.id %}" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-delete-order">حذف سفارش</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h5 class="text-danger">ایا از حذف سفارش اطمینان دارید ؟ با حذف سفارش دیگر به ان دسترسی
                                نخواهید داشت</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-danger col-5">بله ! حذف سفارش</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid container-admin" style="position:relative ;">
        <!-- start header -->
        <header class="header-m-oprator">
            <div class="title">
              <span class="back"><img src="{% static 'frontend/images/black.f.png' %}"
                                      alt="icon"
              /></span>
                <h5>جزئیات سفارش</h5>
            </div>
            <div class="line"></div>
        </header>
        <!-- start header -->
        <!-- START MENU-BOTTOM -->
        {% include 'base/menu-mobile.html' %}
        <!-- END MENU-BOTTOM -->
        <!-- START MAIN -->
        <main class="main">
            <div class="content-price active">
                <div>
                    <div class="col-12 txt-top p-3">
                        {% if cart.cartstatus.delivery_time %}
                            <span class="fs-6">
                                زمان تقریبی رسیدن کالا
                                    <b class="bg-info text-white p-0 px-2"
                                       style="border-radius: 5px">{{ cart.cartstatus.delivery_time }}</b>
                                دقیقه
                            </span>
                        {% endif %}
                    </div>
                    <div class="col-12 city p-1 d-flex justify-content-between align-items-center text-center mb-4">
                        <div class="col-3 images status-type" id="status-type-checking">
                            <div class="col-8 aks">
                                <i class="fa fa-hourglass"></i>
                                <span class="py-2">در صف بررسی</span>
                            </div>
                            <div class="point">
                                .........................
                            </div>
                        </div>
                        <div class="col-3 images status-type" id="status-type-accepted">
                            <div class="col-8 aks">
                                <i class="fa fa-check-circle"></i>
                                <span class="py-2">تایید سفارش</span>
                            </div>
                            <div class="point">
                                .........................
                            </div>
                        </div>
                        <div class="col-3 images status-type" id="status-type-send">
                            <div class="col-8 aks">
                                <i class="fa fa-truck"></i>
                                <span class="py-2">خروج از مرکز سفارش</span>
                            </div>
                            <div class="point">
                                .........................
                            </div>
                        </div>
                        <div class="col-3 images status-type" id="status-type-delivered">
                            <div class="col-8 aks">
                                <i class="fa fa-clipboard-check"></i>
                                <span class="py-2">تحویل به مشتری</span>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                {% if user.is_admin %}
                    <div class="text-left my-3 mx-2" id="btns-action">
                        {% if not cart.factor.factorpayment %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modal-payment-order">
                                پرداخت به صورت دستی
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" onclick="print_factor()">
                            پرینت فاکتور
                        </button>
                        <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal"
                                data-bs-target="#modal-status-order">
                            تخمین و وضعیت
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#modal-delete-order">
                            حذف سفارش
                        </button>
                    </div>
                {% endif %}
                <section class="category-price p-1">
                    <div class="col-12 px-1 py-1">
                        <div class="price-item ">
                            <div class="col-12 detail">
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">کد رهگیری:</label>
                                    <input class="col-8" type="text" name="code" id="code-rahgiri"
                                           placeholder="45880215" value="{{ cart.get_track_code }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">تاریخ و زمان سفارش:</label>
                                    <input class="col-8" type="text" name="value-date" id="date-kharid"
                                           placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                           value="{{ cart.factor.factorpayment.get_created_at }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                    <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                           placeholder="نام ونام خانوادگی 09122254545"
                                           value="{{ cart.get_receiver_user_info }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="col-12 px-1 py-1">
                        <div class="price-item ">
                            <div class="col-12 detail">
                                {% if cart.factor.address %}
                                    <div class="col-12 detail-item p-2">
                                        <label class=" col-4">ادرس:</label>
                                        <input class="col-8" type="text" name="code" id="code-rahgiri"
                                               placeholder="45880215" value="{{ cart.factor.address.address }}">
                                    </div>
                                    <div class="col-12 detail-item p-2">
                                        <label class=" col-4"> پلاک :</label>
                                        <input class="col-8" type="text" name="value-date" id="date-kharid"
                                               placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                               value="{{ cart.factor.address.plate }}">
                                    </div>
                                    <div class="col-12 detail-item p-2">
                                        <label class=" col-4">کد پستی :</label>
                                        <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                               placeholder="نام ونام خانوادگی 09122254545"
                                               value="{{ cart.factor.address.postal_code }}">
                                    </div>
                                {% endif %}
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">توضیحات :</label>
                                    <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                           placeholder="نام ونام خانوادگی 09122254545"
                                           value="{{ cart.factor.note|default:'بدون توضیحات' }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="line"></div>

            <!-- start content orders detail-->
            <div class="order active">
                <section class="category-product p-2 col-12">
                    <!-- start -->
                    {% for order in cart.get_orders %}
                        <div class="col-12 col-md-6 p-2 ">
                            <div class="product-item">
                                <div class="col-4 col-md-4 height">
                                    <a href="{{ order.product.get_absolute_url }}">
                                        <div class="img-product">
                                            <img src="{{ order.product.get_image_url }}"
                                                 alt="{{ order.product.name }}">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-5 col-md-4 moshakhaseh">
                                    <div class="name-sweet">
                                        <h4>
                                            <a href="{{ order.product.get_absolute_url }}">{{ order.product.name }}</a>
                                            ({{ order.count }})
                                        </h4>
                                    </div>
                                    <div class="the-details">
                                        {{ order.product.description }}
                                    </div>
                                </div>
                                <div class="col-3 p-2 price">
                                    <div class="price-value">
                                        <h4 class="mb-0 price-el">{{ order.get_total_price }}</h4>
                                        <p class="text">تومان</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                    {% for order in cart.get_custom_orders %}
                        <div class="col-12 col-md-6 p-2 ">
                            <div class="product-item" style="height: auto">
                                <div class="col-4 col-md-4 height">
                                    <div class="img-product">
                                        <img src="{{ order.get_image_cover.get_image_url }}"
                                             alt="سفارش دلخواه">
                                    </div>
                                </div>
                                <div class="col-5 col-md-4 moshakhaseh">
                                    <div class="name-sweet">
                                        <h4>
                                            سفارش دلخواه
                                            {{ forloop.counter }}
                                        </h4>
                                    </div>
                                    <div class="the-details">
                                        {{ order.description }}
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="m-1">
                                                <div>
                                                    <span> توضیحات ادمین : </span>
                                                    {{ order.note|default:'-' }}
                                                </div>
                                                <div>
                                                    <span> وزن : </span>
                                                    {{ order.detail.weight|default:'-' }}
                                                </div>
                                                <div>
                                                    <span> اسفنج : </span>
                                                    {{ order.detail.taste_spongy|default:'-' }}
                                                </div>
                                                <div>
                                                    <span> فیلینگ : </span>
                                                    {{ order.detail.filing_cake|default:'-' }}
                                                </div>
                                            </div>
                                            <div class="m-1">
                                                <div>
                                                    <span> خامه : </span>
                                                    {{ order.detail.taste_cream|default:'-' }}
                                                </div>
                                                <div>
                                                    <span>مقدار خامه :</span>
                                                    {{ order.detail.amount_cream|default:'-' }}
                                                </div>
                                                <div>
                                                    <span>نوشته روی کیک : </span>
                                                    {{ order.detail.writing_on_cake|default:'-' }}
                                                </div>
                                                <div>
                                                    <span>عکس های پیوست : </span>
                                                    {% for image in order.get_images %}
                                                        <a href="{{ image.get_image_url }}" class="btn btn-warning p-1">
                                                            عکس
                                                            {{ forloop.counter }}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 p-2 price">
                                    <div class="price-value">
                                        <h4 class="mb-0 price-el">{{ order.price }}</h4>
                                        <p class="text">تومان</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if not cart.get_custom_orders and not cart.get_orders %}
                        <div class="container-not-found-base">
                            <p>محصولی در سبد خرید وجود ندارد</p>
                        </div>
                    {% endif %}
                </section>
                <div class="col-12 p-2">
                    <div class="line"></div>
                    <!--start content list wallet  -->
                    <section class="list">
                        <div class="col-12 ">
                            <div class="content-list p-2">
                                <div class="col-12 p-2">
                                    <div class="list-item">
                                        <span>قیمت کالا ها</span>
                                        <div>
                                            <span class="price-el">
                                            {{ cart.get_total_price }}
                                        </span>
                                            <span>تومان</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-2">
                                    <div class="list-item">
                                        <span>تخفیف کالا ها</span>
                                        <div>
                                            <span class="price-el">0</span>
                                            <span>تومان</span>
                                        </div>
                                    </div>

                                </div>
                                <div id="payment-detail">
                                    {% with factorpayment=cart.factor.factorpayment %}
                                        {% if factorpayment %}
                                            <div class="col-12 border-b p-2">
                                                <div class="list-item credit" id="texts-etebar">
                                                    <span>هزینه ارسال</span>
                                                    <div>
                                                        <span class="price-el">{{ cart.factor.shipping_fee }}</span>
                                                        <span>تومان</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-12  p-2">
                                                <div class="list-item">
                                                    <span>کد رهگیری درگاه بانکی</span>
                                                    <div>
                                                        {{ factorpayment.ref_id }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12  p-2">
                                                <div class="list-item">
                                                    <span>جمع سبد خرید</span>
                                                    <div>
                                                <span class="price-el">
                                                {{ factorpayment.price_paid }}
                                                </span>
                                                        <span>تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>

                        </div>
                    </section>
                    <!--end content list wallet  -->
                </div>
            </div>

            <!-- end content orders detail -->


        </main>

    </div>
    </body>
{% endblock %}

{% block Script %}
    <script src="{% static 'frontend/vendors/map/dist/js/jquery-3.2.1.min.js' %}"></script>
    <!--BOOTSTRAP -->
    <script src="{% static 'frontend/vendors/bootstrap.min.js' %}"></script>

    <!-- MAIN JS -->
    <script src="{% static 'frontend/js/basket-shoping.js' %}"></script>
    <script>
        let status_type = '{{ cart.cartstatus.status }}' || 'checking'
        let status_type_checking = document.getElementById('status-type-checking')
        let status_type_accepted = document.getElementById('status-type-accepted')
        let status_type_send = document.getElementById('status-type-send')
        let status_type_delivered = document.getElementById('status-type-delivered')
        if (status_type == 'checking') {
            status_type_checking.classList.add('active')
        } else if (status_type == 'accepted') {
            status_type_checking.classList.add('active')
            status_type_accepted.classList.add('active')
        } else if (status_type == 'send') {
            status_type_checking.classList.add('active')
            status_type_accepted.classList.add('active')
            status_type_send.classList.add('active')
        } else if (status_type == 'delivered') {
            status_type_checking.classList.add('active')
            status_type_accepted.classList.add('active')
            status_type_send.classList.add('active')
            status_type_delivered.classList.add('active')
        }


        let inp_delivery_type = document.querySelector('select[name=delivery_type]')
        let cnt_choice_address = document.querySelector('#cnt-choice-address')
        inp_delivery_type.addEventListener('input', function () {
            let t = this.value
            if (t == 'online') {
                cnt_choice_address.classList.remove('d-none')
                cnt_choice_address.querySelector('select').setAttribute('required', '')
            } else {
                cnt_choice_address.classList.add('d-none')
                cnt_choice_address.querySelector('select').removeAttribute('required')
            }
        })

        function print_factor() {
            window.print()
        }

    </script>

{% endblock %}