{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    شیرینی سرای کندو
{% endblock %}

{% block Link %}
    <!-- Link Swiper's CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'frontend/styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/vendors/bootstrap.min.css' %}">
{% endblock %}

{% block Style %}
    <style>


    </style>
{% endblock %}

{% block Content %}
    <body class="bg">

    <!-- header -->
    <header class="header-m-oprator">
        <div class="title p-2">
            <div class="icon-name col-1">
                    <span class="p-2" id="hamburger"><img src="{% static 'frontend/images/icon/hamberger-icon.png' %}"
                                                          alt="icon"
                    /></span>

            </div>
            <div class="col-8 col-md-6 search">
                <input class="col-10" type="text" name="input-search" id="search" placeholder="جستجو">
                <img src="{% static 'frontend/images/icon/search.png' %}">
            </div>
            <div class="logo-item col-3 col-md-5">
                <div class="logo-inner col-4 col-md-1 ">
                    <img src="{% static 'frontend/images/icon/logo.png' %}">
                </div>
            </div>
        </div>
        <div class="The-dividing-line"></div>
    </header>
    <!-- header -->


    <!-- modal -->
    {% for product in showcase.get_products %}
        <div class="content-modal" id="modal-edit-showcase">
            <div class="inner-modal">
                <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                    <div class="col-12">
                        <img style="width: 100%;height: 250px;" src="{{ product.get_image_url }}">
                    </div>
                    <form class="px-4 pt-2">
                        <div class="col-12 px-4 py-2 ">
                            <p> موجودی : {{ product.stock }}</p>
                            <h2>{{ product.name }}</h2>
                        </div>
                        <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                            <span>{{ product.description }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center p-2">
                            <div class="col-10 d-flex align-items-end">
                                <a href="{% url 'product:cart_add' product_id=product.id %}"
                                   class="add-to-cart col-7 col-md-5 text-decoration-none">
                                    <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                                    <div class="img-cart p-1">
                                        <img src="{% static 'frontend/images/kharid.png' %}">
                                    </div>
                                </a>
                            </div>
                            <div class="col-2 p-1 text-center">
                                {% include 'product/components/favorite-btn.html' with product=product %}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- modal -->


    <!-- START MENU-MOBILE -->
    <div class="menu-admin">
        <div class="overlay-menu-mobile"></div>
        <div class="inner-menu-mobile">
            <ul class="list-menu-mobile">
                <li class="">
                    <a href="{% url 'product:cart' %}">
                        <span>سبد خرید</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'product:custom_order_product' %}">
                        <span>کیک دلخواه</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'product:factor_cake_image' %}">
                        <span>تصویر دلخواه کیک</span>
                    </a>
                </li>
                <li class="future-item">
                    <a href="{% url 'instruction' %}">
                        <span>آموزش هاو مقالات</span>
                    </a>
                </li>
                <li class="future-item">
                    <a href="{% url 'custom_box' %}">
                        <span>پکیج آماده تولد</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'account:dashboard_user__orders' %}">
                        <span>پیگیری سفارشات</span>
                    </a>
                </li>
                <li class="future-item">
                    <a href="{% url 'wallet' %}">
                        <span>کیف پول</span>
                    </a>
                </li>
                <li class="future-item">
                    <a href="{% url 'notification_page' %}">
                        <span>صفحه اعلان ها</span>
                    </a>
                </li>
                <li class="future-item">
                    <a href="{% url 'tickets' %}">
                        <span>تیکت ها</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'account:dashboard_user__favorites' %}">
                        <span>لیست علاقه مندی ها</span>
                    </a>
                </li>
                {% if user.is_anonymous is False %}
                    <li class="">
                        <a href="{{ user.get_dashboard_absolute_url }}">
                            <span>پروفایل</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'account:logout' %}" id="exit">
                            <span>خروج</span>
                        </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'account:login' %}">
                            <span>ورود</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'account:register' %}">
                            <span>ایجاد حساب</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- END MENU-MOBILE -->
    <!-- START MENU-BOTTOM -->
    {% include 'base/menu-mobile.html' %}
    <!-- END MENU-BOTTOM -->


    <div class="content-main">
        <section class="category-story-kando ">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for product in showcase.get_products %}
                        <div class="swiper-slide test2">
                            <div class="story-box">
                                <img
                                        src="{{ product.get_image_url }}"
                                        class="img-story">
                                <div class="content-story">
                                    <div class="title-sweet">{{ product.name }}</div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>

            </div>
        </section>


        <div class="The-dividing-line"></div>
        <!-- custom-box-category -->
        <div class="col-12 d-flex justify-content-center flex-wrap p-2">
            <section class="col-12 col-md-8 custom-box-category justify-content-center flex-wrap">
                <div class="col-12 col-md-4 custom-box-img">
                    <a href="{% url 'account:dashboard_user__orders' %}">
                        <div class="inner-custom-box active">
                            <img src="{% static 'frontend/images/index02.png' %}" alt="">
                            <div class="des-custom-box">
                                <p>سفارشات ثبت شده</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-4 custom-box-img">
                    <a href="{% url 'product:factor_cake_image' %}">
                        <div class="inner-custom-box">
                            <img src="{% static 'frontend/images/index01.png' %}" alt="">
                            <div class="des-custom-box">
                                <p>کیک تصویری و طرح دلخواه</p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <!-- custom-box-category -->
        <div class="The-dividing-line"></div>


        <!-- dastebandi -->
        <div class="col-12 Grouping p-2 " style="margin-top: 15px;">
            {% for category in categories %}
                <div class="col-2 group-item mx-1 p-1 btn-change-category {% if forloop.first %}active{% endif %}">
                    <span>{{ category.name }}</span></div>
            {% endfor %}
        </div>

        {% for category in categories %}
            <div class="category-container {% if forloop.first %}active{% endif %}">
                <!-- dastebandi -->
                <!-- جدید ترین محصولات -->
                <section class="new-products p-2">
                    {% for product in category.get_products %}
                        <div class="new-products-content {% if forloop.first %}active{% endif %}" id="new-product">
                            <div class="col-12 new-product-item ">
                                <div class="col-8 content-right p-2">
                                    <h1>{{ product.name }}</h1>
                                    <div class="product-des">
                                        <p>
                                            {{ product.description }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4 content-left p-2">
                                    <div class="prices ">
                                        <div class="price-el">{{ product.price }}</div>
                                        <div>تومان</div>

                                    </div>
                                    <div class="add-to-cart col-12 col-md-8 col-lg-6">
                                        {% if product.is_in_stock %}
                                            <div class="img-cart p-1">
                                                <img src="{% static 'frontend/images/kharid.png' %}">
                                            </div>
                                            <div class="">
                                                <a href="{% url 'product:cart_add' product_id=product.id %}"
                                                   class="text-white text-decoration-none">افزودن به سبد خرید</a>
                                            </div>
                                        {% else %}
                                            <p class="mt-3 text-danger">
                                                محصول ناموجود است
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </section>
                <!-- جدید ترین محصولات -->
                <section class="image-new-products ">
                    {% for product in category.get_products %}
                        <div class="products-item col-12 col-md-3 col-lg-2 m-2 active p-3 " id="image-product">
                            <div class="image-products-item ">
                                <div class="up">
                                    <div class="up-image">
                                        <img src="{{ product.get_image_url }}">
                                    </div>
                                    {#                            <div class="text">تهیه پکیج آماده</div>#}
                                </div>
                                <div class="img-title">
                                    <div class="cake-name">
                                        <a class="text-white text-decoration-none"
                                           href="{{ product.get_absolute_url }}">
                                            {{ product.name }}
                                        </a>
                                    </div>
                                    {% include 'product/components/favorite-btn.html' with product=product %}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        {% endfor %}










        <div class="The-dividing-line"></div>
        <!-- custom-box-category bottom -->
        <div class="col-12 d-flex justify-content-center flex-wrap p-2">
            <section class=" d-flex justify-content-center flex-wrap col-12 col-md-8  custom-box-category">
                <div class="col-12 col-md-4 custom-box-img">
                    <a href="{% url 'custom_box' %}">
                        <div class="inner-custom-box active">
                            <img src="{% static 'frontend/images/index4.png' %}" alt="">
                            <div class="des-custom-box">
                                <p>جعبه شیرینی دلخواه</p>
                                <p>ازهرنوع شیرینی که بخوای تویه جعبه</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-4 custom-box-img">
                    <a href="{% url 'package_definition' %}">
                        <div class="inner-custom-box">
                            <img src="{% static 'frontend/images/index3.png' %}" alt="">
                            <div class="des-custom-box">
                                <p>پکیج آماده تولد</p>
                                <p>همه وسایل تولد را یک جا سفارش بده</p>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <!-- custom-box-category bottom -->
    </div>
    </body>
{% endblock %}

{% block Script %}
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script src="{% static 'frontend/js/home.js' %}"></script>
{% endblock %}