{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    شیرینی سرای کندو
{% endblock %}

{% block Link %}
    <!-- Link Swiper's CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'frontend/styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/vendors/bootstrap.min.css' %}">
{% endblock %}

{% block Style %}
    <style>



    </style>
{% endblock %}

{% block Content %}
    <body class="bg">

    <!-- header -->
    <header class="header-m-oprator">
        <div class="title p-2">
            <div class="icon-name col-1">
                    <span class="p-2" id="hamburger"><img src="{% static 'frontend/images/icon/hamberger-icon.png' %}"
                                                          alt="icon"
                    /></span>

            </div>
            <div class="col-8 col-md-6 search">
                <input class="col-10" type="text" name="input-search" id="search" placeholder="جستجو">
                <img src="{% static 'frontend/images/icon/search.png' %}">
            </div>
            <div class="logo-item col-3 col-md-5">
                <div class="logo-inner col-4 col-md-1 ">
                    <img src="{% static 'frontend/images/icon/logo.png' %}">
                </div>
            </div>
        </div>
        <div class="The-dividing-line"></div>
    </header>
    <!-- header -->


    <!-- modal -->
    <div class="content-modal" id="modal-edit-showcase">
        <div class="inner-modal">
            <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                <div class="col-12">
                    <img style="width: 100%;height: 250px;" src="{% static 'frontend/images/icon/vitrinrooz.png' %}">
                </div>
                <form class="px-4 pt-2">
                    <div class="col-12 px-4 py-2 ">
                        <p>موجودی:3</p>
                        <h2>نام محصول روز</h2>
                    </div>
                    <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از</span>
                    </div>
                    <div class="col-12 p-2 d-flex align-items-end">
                        <div class="add-to-cart col-7 col-md-5">
                            <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                            <div class="img-cart p-1">
                                <img src="{% static 'frontend/images/kharid.png' %}">

                            </div>
                        </div>
                        <div class="col-5 col-md-7 d-flex flex-column align-items-end">
                            <span>تاریخ پخت:</span>
                            <span>صبح</span>
                            <span>25آذر1401</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="content-modal" id="modal-edit-showcase">
        <div class="inner-modal">
            <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                <div class="col-12">
                    <img style="width: 100%;height: 250px;" src="{% static 'frontend/images/icon/vitrinrooz.png' %}">
                </div>
                <form class="px-4 pt-2">
                    <div class="col-12 px-4 py-2 ">
                        <p>موجودی:3</p>
                        <h2>نام محصول روز</h2>
                    </div>
                    <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از</span>
                    </div>
                    <div class="col-12 p-2 d-flex align-items-end">
                        <div class="add-to-cart col-7 col-md-5">
                            <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                            <div class="img-cart p-1">
                                <img src="{% static 'frontend/images/kharid.png' %}">

                            </div>
                        </div>
                        <div class="col-5 col-md-7 d-flex flex-column align-items-end">
                            <span>تاریخ پخت:</span>
                            <span>صبح</span>
                            <span>25آذر1401</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="content-modal" id="modal-edit-showcase">
        <div class="inner-modal">
            <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                <div class="col-12">
                    <img style="width: 100%;height: 250px;" src="{% static 'frontend/images/icon/vitrinrooz.png' %}">
                </div>
                <form class="px-4 pt-2">
                    <div class="col-12 px-4 py-2 ">
                        <p>موجودی:3</p>
                        <h2>نام محصول روز</h2>
                    </div>
                    <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از</span>
                    </div>
                    <div class="col-12 p-2 d-flex align-items-end">
                        <div class="add-to-cart col-7 col-md-5">
                            <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                            <div class="img-cart p-1">
                                <img src="{% static 'frontend/images/kharid.png' %}">

                            </div>
                        </div>
                        <div class="col-5 col-md-7 d-flex flex-column align-items-end">
                            <span>تاریخ پخت:</span>
                            <span>صبح</span>
                            <span>25آذر1401</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="content-modal" id="modal-edit-showcase">
        <div class="inner-modal">
            <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                <div class="col-12">
                    <img style="width: 100%;height: 250px;" src="{% static 'frontend/images/icon/vitrinrooz.png' %}">
                </div>
                <form class="px-4 pt-2">
                    <div class="col-12 px-4 py-2 ">
                        <p>موجودی:3</p>
                        <h2>نام محصول روز</h2>
                    </div>
                    <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از</span>
                    </div>
                    <div class="col-12 p-2 d-flex align-items-end">
                        <div class="add-to-cart col-7 col-md-5">
                            <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                            <div class="img-cart p-1">
                                <img src="{% static 'frontend/images/kharid.png' %}">

                            </div>
                        </div>
                        <div class="col-5 col-md-7 d-flex flex-column align-items-end">
                            <span>تاریخ پخت:</span>
                            <span>صبح</span>
                            <span>25آذر1401</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="content-modal" id="modal-edit-showcase">
        <div class="inner-modal">
            <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                <div class="col-12">
                    <img style="width: 100%;height: 250px;" src="{% static 'frontend/images/icon/vitrinrooz.png' %}">
                </div>
                <form class="px-4 pt-2">
                    <div class="col-12 px-4 py-2 ">
                        <p>موجودی:3</p>
                        <h2>نام محصول روز</h2>
                    </div>
                    <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از</span>
                    </div>
                    <div class="col-12 p-2 d-flex align-items-end">
                        <div class="add-to-cart col-7 col-md-5">
                            <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                            <div class="img-cart p-1">
                                <img src="{% static 'frontend/images/kharid.png' %}">

                            </div>
                        </div>
                        <div class="col-5 col-md-7 d-flex flex-column align-items-end">
                            <span>تاریخ پخت:</span>
                            <span>صبح</span>
                            <span>25آذر1401</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="content-modal" id="modal-edit-showcase">
        <div class="inner-modal">
            <div class="content" style="width: 430px;border-radius: 20px;border: 0;">
                <div class="col-12">
                    <img style="width: 100%;height: 250px;" src="{% static 'frontend/images/icon/vitrinrooz.png' %}">
                </div>
                <form class="px-4 pt-2">
                    <div class="col-12 px-4 py-2 ">
                        <p>موجودی:3</p>
                        <h2>نام محصول روز</h2>
                    </div>
                    <div class="col-12 col-md-8 px-4 py-2" style="font-size: 15px;">
                        <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از</span>
                    </div>
                    <div class="col-12 p-2 d-flex align-items-end">
                        <div class="add-to-cart col-7 col-md-5">
                            <div style="font-size: 0.8em;">افزودن به سبد خرید</div>
                            <div class="img-cart p-1">
                                <img src="{% static 'frontend/images/kharid.png' %}">

                            </div>
                        </div>
                        <div class="col-5 col-md-7 d-flex flex-column align-items-end">
                            <span>تاریخ پخت:</span>
                            <span>صبح</span>
                            <span>25آذر1401</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- modal -->


    <!-- START MENU-MOBILE -->
    <div class="menu-admin">
        <div class="overlay-menu-mobile"></div>
        <div class="inner-menu-mobile">
            <ul class="list-menu-mobile">
                <li class="">
                    <a href="{% url 'basket_shoping' %}">
                        <span>سبد خرید</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'product:custom_order_product' %}">
                        <span>کیک دلخواه</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'product:factor_cake_image' %}">
                        <span>تصویر دلخواه کیک</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'instruction' %}">
                        <span>آموزش هاو مقالات</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'custom_box' %}">
                        <span>پکیج آماده تولد</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'each_product_page' %}">
                        <span>صفحه هر محصول</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'order_tracking' %}">
                        <span>پیگیری سفارشات</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'wallet' %}">
                        <span>کیف پول</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'points_to_product' %}">
                        <span>امتیاز به محصول</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'notification_page' %}">
                        <span>صفحه اعلان ها</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'tickets' %}">
                        <span>تیکت ها</span>
                    </a>
                </li>
                {% if user.is_anonymous is False %}
                    <li class="">
                        <a href="{% url 'profile' %}">
                            <span>پروفایل</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'account:logout' %}" id="exit">
                            <span>خروج</span>
                        </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'account:login' %}">
                            <span>ورود</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'account:register' %}">
                            <span>ایجاد حساب</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- END MENU-MOBILE -->
    <!-- START MENU-BOTTOM -->
    <div class="menu-bottom">
        <ul class="list-bottom">
            <li class="item-bottom active">
                <a href="#">
                    <img src="{% static 'frontend/images/icon/users.png' %}" alt="icon"/>
                </a>
            </li>
            <li class="item-bottom">
                <a href="#">
                    <img src="{% static 'frontend/images/icon/home.png' %}" alt="icon"/>
                </a>
            </li>
            <li class="item-bottom">
                <a href="#">
                    <img src="{% static 'frontend/images/icon/Bag.png' %}" alt="icon"/>
                </a>
            </li>
            <li class="item-bottom">
                <a href="#">
                    <img src="{% static 'frontend/images/icon/hat.png' %}" alt="icon"/>
                </a>
            </li>
        </ul>
    </div>
    <!-- END MENU-BOTTOM -->


    <div class="content-main">
        <!-- Swiper -->
        <section class="category-story-kando ">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide test2">
                        <div class="story-box">
                            <img
                                    src="{% static 'frontend/images/1.jpeg' %}"
                                    class="img-story">
                            <div class="content-story">
                                <div class="title-sweet">نام محصول</div>
                                <!-- <p class="des-sweet">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است.
                                </p> -->
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide test2">
                        <div class="story-box">
                            <img
                                    src="{% static 'frontend/images/1.jpeg' %}"
                                    class="img-story">
                            <div class="content-story">
                                <div class="title-sweet">نام محصول</div>
                                <!-- <p class="des-sweet">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است.
                                </p> -->
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide test2">
                        <div class="story-box">
                            <img
                                    src="{% static 'frontend/images/2.jpeg' %}"
                                    class="img-story">
                            <div class="content-story">
                                <div class="title-sweet">نام محصول</div>
                                <!-- <p class="des-sweet">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است.
                                </p> -->
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide test2">
                        <div class="story-box">
                            <img
                                    src="{% static 'frontend/images/3.jpeg' %}"
                                    class="img-story">
                            <div class="content-story">
                                <div class="title-sweet">نام محصول</div>
                                <!-- <p class="des-sweet">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است.
                                </p> -->
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide test2">
                        <div class="story-box">
                            <img
                                    src="{% static 'frontend/images/4.jpeg' %}"
                                    class="img-story">
                            <div class="content-story">
                                <div class="title-sweet">نام محصول</div>
                                <!-- <p class="des-sweet">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است.
                                </p> -->
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide test2">
                        <div class="story-box">
                            <img
                                    src="{% static 'frontend/images/5.jpeg' %}"
                                    class="img-story">
                            <div class="content-story">
                                <div class="title-sweet">نام محصول</div>
                                <!-- <p class="des-sweet">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    از صنعت چاپ، و با استفاده از طراحان گرافیک
                                    است.
                                </p> -->
                            </div>

                        </div>
                    </div>


                </div>
                <div class="swiper-pagination"></div>

            </div>
        </section>
        <!-- Swiper -->

        <div class="The-dividing-line"></div>
        <!-- custom-box-category -->
        <div class="col-12 d-flex justify-content-center p-2">
            <section class="col-12 col-md-8 custom-box-category">
                <div class="col-6 col-md-4 custom-box-img">
                    <div class="inner-custom-box active">
                        <img src="{% static 'frontend/images/index02.png' %}" alt="">
                        <div class="des-custom-box">
                            <p>سفارش ثبت شده</p>
                        </div>
                    </div>

                </div>

                <div class="col-6 col-md-4 custom-box-img">
                    <div class="inner-custom-box">
                        <img src="{% static 'frontend/images/index01.png' %}" alt="">
                        <div class="des-custom-box">
                            <p>کیک تصویری و طرح دلخواه</p>

                        </div>
                    </div>

                </div>


            </section>
        </div>
        <!-- custom-box-category -->
        <div class="The-dividing-line"></div>


        <!-- dastebandi -->
        <div class="col-12 Grouping p-2 " style="margin-top: 15px;">
            {% for category in categories %}
                <div class="col-2 group-item mx-1 p-1 btn-change-category {% if forloop.first %}active{% endif %}">
                    <span>{{ category.name }}</span></div>
            {% endfor %}
        </div>

        {% for category in categories %}
            <div class="category-container {% if forloop.first %}active{% endif %}">
                <!-- dastebandi -->
                <!-- جدید ترین محصولات -->
                <section class="new-products p-2">
                    {% for product in category.get_products %}
                        <div class="new-products-content {% if forloop.first %}active{% endif %}" id="new-product">
                            <div class="col-12 new-product-item ">
                                <div class="col-8 content-right p-2">
                                    <h1>{{ product.name }}</h1>
                                    <div class="product-des">
                                        <p>
                                            {{ product.description }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4 content-left p-2">
                                    <div class="prices ">
                                        <div>{{ product.price }}</div>
                                        <div>تومان</div>

                                    </div>
                                    <div class="add-to-cart col-12 col-md-8 col-lg-6">
                                        <div class="img-cart p-1">
                                            <img src="{% static 'frontend/images/kharid.png' %}">

                                        </div>
                                        <div class="">
                                            <a href="#" class="text-white text-decoration-none">افزودن به سبد خرید</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </section>
                <!-- جدید ترین محصولات -->
                <section class="image-new-products ">
                    {% for product in category.get_products %}
                        <div class="products-item col-6 col-md-3 col-lg-2 m-2 active p-1" id="image-product">
                            <div class="image-products-item ">
                                <div class="up">
                                    <div class="up-image">
                                        <img src="{{ product.get_image_url }}">
                                    </div>
                                    {#                            <div class="text">تهیه پکیج آماده</div>#}
                                </div>
                                <div class="img-title">
                                    <div class="cake-name">
                                        {{ product.name }}
                                    </div>
                                    <div class="heart">
                                        <img src="{% static 'frontend/images/heart.png' %}">
                                    </div>

                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        {% endfor %}










        <div class="The-dividing-line"></div>
        <!-- custom-box-category bottom -->
        <div class="col-12 d-flex justify-content-center p-2">
            <section class="col-12 col-md-8  custom-box-category">
                <div class="col-6 col-md-4 custom-box-img">
                    <div class="inner-custom-box active">
                        <img src="{% static 'frontend/images/index4.png' %}" alt="">
                        <div class="des-custom-box">
                            <p>جعبه شیرینی دلخواه</p>
                            <p>ازهرنوع شیرینی که بخوای تویه جعبه</p>
                        </div>
                    </div>

                </div>

                <div class="col-6 col-md-4 custom-box-img">
                    <div class="inner-custom-box">
                        <img src="{% static 'frontend/images/index3.png' %}" alt="">
                        <div class="des-custom-box">
                            <p>پکیج آماده تولد</p>
                            <p>همه وسایل تولد را یک جا سفارش بده</p>
                        </div>
                    </div>

                </div>


            </section>
        </div>
        <!-- custom-box-category bottom -->
    </div>
    </body>
{% endblock %}

{% block Script %}
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script src="{% static 'frontend/js/home.js' %}"></script>
{% endblock %}