<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سبد خرید</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/basket-shoping.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>

    <!-- start modal Order details -->
    <div class="content-modal" id="modal-Order-details">
        <div class="inner-modal">
          <div class="content">
            <header class="header-m-oprator">
                <div class="title">
                  <span class="back"><img src="/assets/frontend/images/black.f.png"
                      alt="icon"
                      /></span>
                  <h6>جزئیات سفارش</h6>
                </div>
                <div class="line"></div>
              </header>
              <div class="content-price active">
                <section class="category-price p-1">
                  <div class="col-12 px-1 py-1">
                    <div class="price-item ">
                        <div class="col-12 detail">
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">کد رهگیری:</label>
                                    <input class="col-8" type="text" name="code" id="code-rahgiri" placeholder="45880215">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">تاریخ و زمان سفارش:</label>
                                    <input class="col-8" type="text" name="value-date" id="date-kharid" placeholder="شنبه 23 آبان-9 تا 12 صبح">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                    <input class="col-8" type="text" name="value-kharid" id="darsad-kharid" placeholder="نام ونام خانوادگی 09122254545">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <input class="col-12 adres" type="text" name="value-address" id="address" placeholder="کرمان،نرسیده به بلوار،خیابان فیروزه جنب مطب قهاری،پلاک25">
                                </div>
                                
        
                        </div>
                    </div>
                  </div>
                </section>
            </div>
          </div>
        </div>
    </div>
    <!-- end modal Order details -->

    <div class="container-fluid container-admin" style="position:relative ;">

         <!-- START MENU-BOTTOM -->
    <div class="menu-bottom">
        <ul class="list-bottom">
          <li class="item-bottom active">
            <a href="#">
              <img src="/assets/frontend/images/icon/users.png" alt="icon" />
            </a>
          </li>
          <li class="item-bottom">
            <a href="#">
              <img src="/assets/frontend/images/icon/home.png" alt="icon" />
            </a>
          </li>
          <li class="item-bottom">
            <a href="#">
              <img src="/assets/frontend/images/icon/Bag.png" alt="icon" />
            </a>
          </li>
          <li class="item-bottom">
            <a href="#">
              <img src="/assets/frontend/images/icon/hat.png" alt="icon" />
            </a>
          </li>
        </ul>
      </div>
      <!-- END MENU-BOTTOM -->

      <!-- START MAIN -->
      <main class="main">
        <div class="header">
            <div class="btn-top" >
                <div class="col-6 mx-0 py-2 btn-change" >
                    <div class="pt-2 btn-orders active  " >
                         سفارش های فعال
                    </div>
         
                </div>
                 <div class="col-6 mx-0 py-2 btn-change" >
                     <div class="pt-2 btn-orders" >
                             سفارش های قبلی
                     </div>
                 </div>
            </div>
        </div>
        

       <!-- start content active-orders-->
       <div class="order active">
        <section class="category-product p-2 ">
            <!-- start -->
            <div class="col-12 col-md-6 p-2 ">
              <div class="product-item">
                  <div class="col-1 text-right">
                      <span>ویترین روز</span>
                  </div>
                <div class="col-4 col-md-4 height">
                  <div class="img-product">
                    <img src="/assets/frontend/images/6.jpeg"
                      alt="">
                    </div>
                    <div class="img-zarb">
                        <img src="/assets/frontend/images/zarb.png">

                    </div>
                </div>
                <div class="col-4 col-md-4 moshakhaseh">
                  <div class="name-sweet">اسم شیرینی</div>
                  <a href="#">
                    <div class="the-details">جزئیات شیرینی</div>
                  </a>
                </div>
                <div class="col-3 p-2 price">
                    <div class="price-value" >
                            <h4 class="mb-0" >۱۲۰</h4>
                            <p class="text">هزارتومان</p>
                    </div>
                     <div class="price-item" >
                        <div class="plus">
                            <img src="/assets/frontend/images/icon/plus-b.png">
                        </div>
                        <div class="number">1</div>
                        <div >
                            <img src="/assets/frontend/images/icon/trash-b.png">
                        </div>
                    </div>
                    
                </div>

              </div>
            </div>
            <div class="col-12 col-md-6 p-2 ">
                <div class="product-item">
                    <div class="col-1 text-right">
                        <span>ویترین روز</span>
                    </div>
                  <div class="col-4 col-md-4 height">
                    <div class="img-product">
                      <img src="/assets/frontend/images/6.jpeg"
                        alt="">
                      </div>
                      <div class="img-zarb">
                          <img src="/assets/frontend/images/zarb.png">
  
                      </div>
                  </div>
                  <div class="col-4 col-md-4 moshakhaseh">
                    <div class="name-sweet">اسم شیرینی</div>
                    <a href="#">
                      <div class="the-details">جزئیات شیرینی</div>
                    </a>
                  </div>
                  <div class="col-3 p-2 price">
                      <div class="price-value" >
                              <h4 class="mb-0" >۱۲۰</h4>
                              <p class="text">هزارتومان</p>
                      </div>
                      <div class="price-item" >
                        <div class="plus">
                            <img src="/assets/frontend/images/icon/plus-b.png">
                        </div>
                        <div class="number">1</div>
                        <div >
                            <img src="/assets/frontend/images/icon/trash-b.png">
                        </div>
                    </div>
                      
                  </div>
  
                </div>
              </div>
              <div class="col-12 col-md-6 p-2 ">
                <div class="product-item">
                    <div class="col-1 text-right">
                        <span>ویترین روز</span>
                    </div>
                  <div class="col-4 col-md-4 height">
                    <div class="img-product">
                      <img src="/assets/frontend/images/6.jpeg"
                        alt="">
                      </div>
                      <div class="img-zarb">
                          <img src="/assets/frontend/images/zarb.png">
  
                      </div>
                  </div>
                  <div class="col-4 col-md-4 moshakhaseh">
                    <div class="name-sweet">اسم شیرینی</div>
                    <a href="#">
                      <div class="the-details">جزئیات شیرینی</div>
                    </a>
                  </div>
                  <div class="col-3 p-2 price">
                      <div class="price-value" >
                              <h4 class="mb-0" >۱۲۰</h4>
                              <p class="text">هزارتومان</p>
                      </div>
                      <div class="price-item" >
                        <div class="plus">
                            <img src="/assets/frontend/images/icon/plus-b.png">
                        </div>
                        <div class="number">1</div>
                        <div >
                            <img src="/assets/frontend/images/icon/trash-b.png">
                        </div>
                    </div>
                      
                  </div>
  
                </div>
              </div>
              
          </section>
          <div class="col-12 p-2 content-wallet">
            <div class="line"></div>
            <!--start content wallet  -->
              <section class="Wallet ">
                <div class="col-12 ">
                    <div class="Wallet-item p-2">
                        <div class="col-12 item p-2">
                            <div class="col-9 Wallet-credit">
                                <div class="col-1 image">
                                    <img src="/assets/frontend/images/wallet (1).png">
                                </div>
                                <div class="col-10 Validity p-1">
                                    <div>
                                        <span id="text-etebar">اعتبار کیف پول</span>
    
                                    </div>
                                    <div class="text">
                                        <span>86,000تومان</span>
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" style="display: flex;">
                               <div class="desired-package" onclick="validate()">
                                <label class="btn-package-desired">
                                    <input class="inpute-checkbox" type="checkbox" id="check-input">
                                    <span class="circle-in" id="small-circle"></span>
                                    <span class="circle-out" id="circle-bironi"></span>
                            
                                </label>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 item p-2">
                            <div class="col-7 Wallet-credit">
                                <div class="col-1 image">
                                    <img src="/assets/frontend/images/pic9.png">
                                </div>
                                <div class="col-10 Validity p-1">
                                    <div class="text">
                                        <span>کد تخفیف</span>
    
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-5" >
                                <div class="code">
                                    <div class="col-6 right p-1">
                                       
                                        <input type="text" name="value-code" id="check-code" placeholder="کد را وارد کنید">
                                    </div>
                                    <div class="col-6 left p-1">
                                        <span>بررسی کد</span>
                                    </div>
                                   
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            </section>
             <!--end content wallet  -->
            <div class="line"></div>
             <!--start content list wallet  -->
            <section class="list">
                <div class="col-12 ">
                    <div class="content-list p-2">
                        <div class="col-12 p-2">
                            <div class="list-item">
                                <span>قیمت کالا ها</span>
                                <span>850,000تومان</span>
    
                            </div>
    
                        </div>
                        <div class="col-12 p-2">
                            <div class="list-item">
                                <span>تخفیف کالا ها</span>
                                <span>10,000تومان</span>
    
                            </div>
    
                        </div>
                        <div class="col-12 p-2">
                            <div class="list-item credit" id="texts-etebar">
                                <span >اعتبار کیف پول</span>
                                <span >86,000تومان</span>
    
                            </div>
    
                        </div>
                        <div class="col-12 border-b p-2">
                            <div class="list-item">
                                <span>جمع سبد خرید</span>
                                <span>840,000تومان</span>
    
                            </div>
    
                        </div>
                        <div class="col-12 p-2">
                            <div class="list-item">
                                <div class="col-5 kif-pol">
                                    <img src="/assets/frontend/images/kifpol.png">
                                    <span>کیف پول</span>
    
                                </div>
                                <span>86,000تومان</span>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
            </section>
            <!--end content list wallet  -->
          </div>
          

             <!-- start btn bottom -->
             <div class="footer" >
                <div class="row p-2 footer-item">
                    <div class="col-5 col-md-2 col-sm-3 btn-bottom" >
                        <div class=" p-1 text-btn" >
                        <a href="Proceed-to-pay.html">
                            اقدام به پرداخت
                        </a>
                        </div>

                    </div>
                    <div class=" col-3 col-md-2 g-0 txt-left" >
                        <div>
                            <p>جمع سبد خرید</p>
                            <p>860,000تومان</p>
                        </div>
                    </div>
                </div>
            
            </div>

             <!-- end btn bottom -->
       </div>
          
           <!-- end content active-orders -->


            <!-- start content Previous-orders -->
            <div class="order">
                <section class="Previous-orders">
                    <!-- start -->
                    <div class="col-12 col-md-6 p-2" id="order-content">
                        <div class="content-orders bottomborder" >
                            <div class="col-12 Tracking-Code p-2">
                                <div class="col-7 tracking">
                                    <label class="col-5">کد رهگیری</label>
                                    <input class="col-7" name="code-rahgiri" id="Track-code" type="text" placeholder="45880215">
                                </div>
                                <div class="col-5 date">
                                    <span>شنبه23آبان-9تا12صبح</span>
                                </div>
        
                            </div>
                            <div class="col-12 images p-2">
                                <div class="col-9 image-item p-2">
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
            
                                </div>
                                <div class="col-3 left-item p-2">
                                    <div class="price-value" >
                                        <h4 class="mb-0" >۱۲۰</h4>
                                        <p class="text">هزارتومان</p>
                                </div>
            
                                </div>
                            </div>
                           
        
                        </div>
        
                    </div>
                    <div class="col-12 col-md-6 p-2"  id="order-content">
                        <div class="content-orders bottomborder">
                            <div class="col-12 Tracking-Code p-2">
                                <div class="col-7 tracking">
                                    <label class="col-5">کد رهگیری</label>
                                    <input class="col-7" name="code-rahgiri" id="Track-code" type="text" placeholder="45880215">
                                </div>
                                <div class="col-5 date">
                                    <span>شنبه23آبان-9تا12صبح</span>
                                </div>
        
                            </div>
                            <div class="col-12 images p-2">
                                <div class="col-9 image-item p-2">
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
            
                                </div>
                                <div class="col-3 left-item p-2">
                                    <div class="price-value" >
                                        <h4 class="mb-0" >۱۲۰</h4>
                                        <p class="text">هزارتومان</p>
                                </div>
            
                                </div>
                            </div>
                           
        
                        </div>
        
                    </div>
                    <div class="col-12 col-md-6 p-2" id="order-content">
                        <div class="content-orders " >
                            <div class="col-12 Tracking-Code p-2">
                                <div class="col-7 tracking">
                                    <label class="col-5">کد رهگیری</label>
                                    <input class="col-7" name="code-rahgiri" id="Track-code" type="text" placeholder="45880215">
                                </div>
                                <div class="col-5 date">
                                    <span>شنبه23آبان-9تا12صبح</span>
                                </div>
        
                            </div>
                            <div class="col-12 images p-2">
                                <div class="col-9 image-item p-2">
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
            
                                </div>
                                <div class="col-3 left-item p-2">
                                    <div class="price-value" >
                                        <h4 class="mb-0" >۱۲۰</h4>
                                        <p class="text">هزارتومان</p>
                                </div>
            
                                </div>
                            </div>
                           
        
                        </div>
        
                    </div>
        
                   </section>
            </div>
           
              <!-- end content Previous-orders -->

             
               
    
    




      
      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="/assets/frontend/vendors/bootstrap.min.js"></script>

    <!-- MAIN JS -->
    <script src="/assets/frontend/js/basket-shoping.js" ></script>
  </body>
</html>
