<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اعلانات</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/Notification-page.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body class="bg">
  <!-- START Header notifications-pages-->
    <div class="container-fluid container-admin" style="position:relative ;">
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/icon/Group 1900.png"
              alt="icon"
              /></span>
          <h5>اعلانات</h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
        <!-- START Header notifications-pages-->
        
 <!-- START MENU-BOTTOM -->
 <div class="menu-bottom">
    <ul class="list-bottom">
      <li class="item-bottom active">
        <a href="#">
          <img src="/assets/frontend/images/icon/users.png" alt="icon" />
        </a>
      </li>
      <li class="item-bottom">
        <a href="#">
          <img src="/assets/frontend/images/icon/home.png" alt="icon" />
        </a>
      </li>
      <li class="item-bottom">
        <a href="#">
          <img src="/assets/frontend/images/icon/Bag.png" alt="icon" />
        </a>
      </li>
      <li class="item-bottom">
        <a href="#">
          <img src="/assets/frontend/images/icon/hat.png" alt="icon" />
        </a>
      </li>
    </ul>
  </div>
  <!-- END MENU-BOTTOM -->

      <!-- START MAIN -->
      <main class="main p-3">
        <!-- start btn top -->
            <div class="btns p-2">
                <div class="btn-notices col-6 text-center active ms-1" >اطلاع رسانی ها</div>
                <div class="btn-notices col-6 text-center" >سفارشات</div>
            </div>
        <!-- end btn top -->

        <!-- start content notices -->
          <div class="content active">
            <section class="Previous-orders">
                <!-- start -->
                <div class="col-12 col-md-6 p-2">
                    <div class="content-orders bottomborder">
                        <div class="col-12 Tracking-Code p-2">
                            <div class="col-7 tracking">
                               <span>خرید خود را تکمیل کنید. (قیمت نهایی محصولات)</span>
                               
                            </div>
                        </div>
                        <div class="col-12 images p-2">
                            <div class="col-9 image-item p-2">
                                <div class="col-3 p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
                                <div class="col-3 border-item p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
                                <div class="col-3 border-item p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
                                <div class="col-3 border-item p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
        
                            </div>
                            <div class="col-3 left-item p-2">
                                <div class="price-value" >
                                    <h4 class="mb-0" >۱۲۰</h4>
                                    <p class="text">هزارتومان</p>
                            </div>
        
                            </div>
                        </div>
                       
    
                    </div>
    
                </div>
                <div class="col-12 col-md-6 p-2">
                    <div class="content-orders bottomborder">
                        <div class="col-12 Tracking-Code p-2">
                            <div class="col-7 tracking">
                               <span>خرید خود را تکمیل کنید. (قیمت نهایی محصولات)</span>
                               
                            </div>
                        </div>
                        <div class="col-12 images p-2">
                            <div class="col-9 image-item p-2">
                                <div class="col-3 p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
                                <div class="col-3 border-item p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
                                <div class="col-3 border-item p-2">
                                    <img src="/assets/frontend/images/pic5.png">
                                </div>
                                <div class="col-3 border-item text-span p-2">
                                   <span >3+</span>
                                </div>
        
                            </div>
                            <div class="col-3 left-item p-2">
                                <div class="price-value" >
                                    <h4 class="mb-0" >۱۲۰</h4>
                                    <p class="text">هزارتومان</p>
                            </div>
        
                            </div>
                        </div>
                       
    
                    </div>
    
                </div>
                <div class="col-12  p-2">
                    <div class="content-orders bottomborder">
                        <div class="col-12 Tracking-Code p-2">
                            <div class="col-7 tracking">
                               <span>قیمت نهایی جعبه شیرینی دلخواه. (جعبه3کیلویی)</span>
                               
                            </div>
                        </div>
                        <div class="col-12 txt-images p-2">
                            <div class="col-9 item-three p-2">
                                <div class="col-12 content-img-txt">
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-9 p-2 text-gram">
                                        <div class="col-9 p-2"><span >شیرینی رولت خامه ای</span></div>
                                        <div class="col-3 p-2"><span >گرم30</span></div>
                                    </div>
                                </div>
                                <div class="col-12 content-img-txt">
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-9 p-2 text-gram">
                                       <span class="col-9 p-2">شیرینی رولت خامه ای</span>
                                       <span class="col-3 p-2">گرم30</span>
                                    </div>
                                </div>
                                <div class="col-12 content-img-txt">
                                    <div class="col-3 p-2">
                                        <img src="/assets/frontend/images/pic5.png">
                                    </div>
                                    <div class="col-9 p-2 text-gram">
                                       <span class="col-9 p-2">شیرینی رولت خامه ای</span>
                                       <span class="col-3 p-2">گرم30</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 left-item p-2">
                                <div class="price-value" >
                                    <h4 class="mb-0" >۱۲۰</h4>
                                    <p class="text">هزارتومان</p>
                            </div>
        
                            </div>
                        </div>
                       
    
                    </div>
    
                </div>
                <div class="col-12  p-2">
                    <div class="content-orders  ">
                        <div class="col-12 Tracking-Code p-2">
                            <div class="col-7 tracking">
                               <span>قیمت نهایی کیک دلخواه شما آماده شد.</span>
                               
                            </div>
                        </div>
                        <div class="col-12 images p-2">
                            <div class="col-9 item-three p-2">
                                <div class="col-12 content-txt">
                                    <div class="col-12 p-2">
                                        <span >وزن :2کیلوگرم</span>
                                    </div>
                                </div>
                                <div class="col-12 content-txt">
                                    <div class="col-12 p-2">
                                        <span >فیلینگ : آناناس ،گردو</span>
                                    </div>
                                </div>
                                <div class="col-12 content-txt">
                                    <div class="col-12 p-2">
                                        <span >اسفنج کیک : نسکافه</span>
                                    </div>
                                </div>
                                <div class="col-12 content-txt">
                                    <div class="col-12 p-2">
                                        <span >طعم خامه : وانیل-کم خامه</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 left-item p-2">
                                <div class="price-value" >
                                    <h4 class="mb-0" >۱۲۰</h4>
                                    <p class="text">هزارتومان</p>
                            </div>
        
                            </div>
                        </div>
                       
    
                    </div>
    
                </div>
               </section>
        </div>
        <!-- end content notices -->



    <!-- start content orders -->
    <div class="content">
        <section class="Previous-orders">
            <!-- start -->
            <div class="col-12 col-md-6 p-2">
                <div class="content-orders bottomborder">
                    <div class="col-12 Tracking-Code p-2">
                        <div class="col-7 tracking">
                           <span>به خرید خود امتیاز دهید.</span>
                           
                        </div>
                    </div>
                    <div class="col-12 images p-2">
                        <div class="col-9 image-item p-2">
                            <div class="col-3 p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="col-3 border-item p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="col-3 border-item p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="col-3 border-item p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
    
                        </div>
                        <div class="col-3 left-item p-2">
                            <div class="price-value" >
                                <a href="Notifications.html"><img src="/assets/frontend/images/icon/Group 1900.png"></a>
                        </div>
    
                        </div>
                    </div>
                   

                </div>

            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="content-orders ">
                    <div class="col-12 Tracking-Code p-2">
                        <div class="col-7 tracking">
                           <span>به خرید خود امتیاز دهید.</span>
                           
                        </div>
                    </div>
                    <div class="col-12 images p-2">
                        <div class="col-9 image-item p-2">
                            <div class="col-3 p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="col-3 border-item p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="col-3 border-item p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
                            <div class="col-3 border-item p-2">
                                <img src="/assets/frontend/images/pic5.png">
                            </div>
    
                        </div>
                        <div class="col-3 left-item p-2">
                            <div class="price-value" >
                                <a href="Notifications.html"><img src="/assets/frontend/images/icon/Group 1900.png"></a>
                        </div>
    
                        </div>
                    </div>
                   

                </div>

            </div>
           </section>
    </div>
    <!-- start content orders -->


      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="/assets/frontend/vendors/bootstrap.min.js"></script>

    <!-- MAIN JS -->
    
    <script src="/assets/frontend/js/Notification-page.js" type="module"></script>
  </body>
</html>
