<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>پروفایل</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/profile.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body class="bg">
  <!-- START Header profile-->
    <div class="container-fluid container-admin" style="position:relative ;">
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/pic7.png"
              alt="icon"
              /></span>
          <h5>پروفایل من </h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
<!-- end Header profile-->
<!-- START MENU-BOTTOM -->
<div class="menu-bottom">
  <ul class="list-bottom">
    <li class="item-bottom active">
      <a href="#">
        <img src="/assets/frontend/images/icon/users.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/home.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/Bag.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/hat.png" alt="icon" />
      </a>
    </li>
  </ul>
</div>
<!-- END MENU-BOTTOM -->


      <!-- START MAIN -->
      <main class="main p-3">

       <!-- start content profile -->
          <section class="profile">
            <!-- start -->
            <div class="col-12 col-md-4 p-2 ">
              <div class="profile-item down">
                <div class="text-img col-11 ">
                    <div class="col-1 image-btn left p-1">
                        <img src="/assets/frontend/images/icon/karbar.png" alt="">
                    </div>
                  <div class="col-10 value p-1">
                    <div class="name-sweet"><a href="User-account-information.html">اطلاعات حساب کاربری</a></div>
                  </div>
                </div>
                 
                <div class="col-1 left">
                  <img src="/assets/frontend/images/icon/Group 1900.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 p-2 ">
                <div class="profile-item down">
                  <div class="text-img col-11 ">
                      <div class="col-1 image-btn left p-1">
                          <img src="/assets/frontend/images/icon/peygiri.png" alt="">
                      </div>
                    <div class="col-10 value p-1">
                      <div class="name-sweet">پیگیری سفارش</div>
                    </div>
                  </div>
                   
                  <div class="col-1 left">
                    <img src="/assets/frontend/images/icon/Group 1900.png">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                <div class="profile-item down">
                  <div class="text-img col-11 ">
                      <div class="col-1 image-btn left p-1">
                          <img src="/assets/frontend/images/icon/wallet.png" alt="">
                      </div>
                    <div class="col-10 value p-1">
                      <div class="name-sweet">کیف پول</div>
                    </div>
                  </div>
                   
                  <div class="col-1 left">
                    <img src="/assets/frontend/images/icon/Group 1900.png">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                <div class="profile-item down">
                  <div class="text-img col-11 ">
                      <div class="col-1 image-btn left p-1">
                          <img src="/assets/frontend/images/icon/favorite.png" alt="">
                      </div>
                    <div class="col-10 value p-1">
                      <div class="name-sweet">علاقه مندی ها</div>
                    </div>
                  </div>
                   
                  <div class="col-1 left">
                    <img src="/assets/frontend/images/icon/Group 1900.png">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                <div class="profile-item down">
                  <div class="text-img col-11 ">
                      <div class="col-1 image-btn left p-1">
                          <img src="/assets/frontend/images/icon/send-ticket.png" alt="">
                      </div>
                    <div class="col-10 value p-1">
                      <div class="name-sweet">ارسال تیکت</div>
                    </div>
                  </div>
                   
                  <div class="col-1 left">
                    <img src="/assets/frontend/images/icon/Group 1900.png">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                <div class="profile-item down">
                  <div class="text-img col-11 ">
                      <div class="col-1 image-btn left p-1">
                          <img src="/assets/frontend/images/icon/about-us.png" alt="">
                      </div>
                    <div class="col-10 value p-1">
                      <div class="name-sweet">درباره ما</div>
                    </div>
                  </div>
                   
                  <div class="col-1 left">
                    <img src="/assets/frontend/images/icon/Group 1900.png">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                <div class="profile-item">
                  <div class="text-img col-11 ">
                      <div class="col-1 image-btn left p-1">
                          <img src="/assets/frontend/images/icon/exit.png" alt="">
                      </div>
                    <div class="col-10 value p-1">
                      <div class="name-sweet">خروج</div>
                    </div>
                  </div>
                   
                  <div class="col-1 left">
                    <img src="/assets/frontend/images/icon/Group 1900.png">
                  </div>
                </div>
              </div>
            
          </section>
           <!-- end content profile -->
      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="/assets/frontend/vendors/bootstrap.min.js"></script>
    
  </body>
</html>
