<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تیکت ها</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/tickets-user.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body class="bg">
  <!-- START Header tickets-->
    <div class="container-fluid container-admin" style="position:relative ;">
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/icon/Group 1900.png"
              alt="icon"
              /></span>
          <h5>تیکت ها</h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
       <!-- end Header tickets-->

        <!-- START MENU-BOTTOM -->
    <div class="menu-bottom">
      <ul class="list-bottom">
        <li class="item-bottom active">
          <a href="#">
            <img src="/assets/frontend/images/icon/users.png" alt="icon" />
          </a>
        </li>
        <li class="item-bottom">
          <a href="#">
            <img src="/assets/frontend/images/icon/home.png" alt="icon" />
          </a>
        </li>
        <li class="item-bottom">
          <a href="#">
            <img src="/assets/frontend/images/icon/Bag.png" alt="icon" />
          </a>
        </li>
        <li class="item-bottom">
          <a href="#">
            <img src="/assets/frontend/images/icon/hat.png" alt="icon" />
          </a>
        </li>
      </ul>
    </div>
    <!-- END MENU-BOTTOM -->
      <!-- START MAIN -->
      <main class="main">

        <div class="information-main">
            <!-- start content tickets -->
            <section class="information-account">
              <!-- start -->
              <div class="content-ticket col-12">
                  <div class="col-12 text-header">
                      <span>ارسال تیکت</span>

                  </div>
                  <div class="col-12  p-2 ">
                      <div class="information-item p-1">
                          <div class="col-12 p-1 value-item">
                            <input type="text" placeholder="عنوان تیکت">
                          </div>
                        </div>
                      </div>
                      <div class="col-12  p-2 ">
                        <div class="information-item p-1">
                                <textarea class="text-des" id="des-ticket" name="ticket-descriptio" placeholder="توضیحات تیکت" rows="7" cols="50"></textarea>
                        </div>
                      </div>
              </div>
              <!-- start btn-down -->
              <div class="btn-down col-12">
                    <div class="col-6 btn-right">
                        <span>ارسال به بخش فروش</span>


                    </div>
                    <div class="col-6 btn-left">
                        <span>ارسال به مدیریت</span>


                    </div>

              </div>
              <!-- end  btn-down -->
            </section>
            <!-- end content tickets -->
        </div>
      
          
         
       
      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="/assets/frontend/vendors/bootstrap.min.js"></script>

  
  </body>
</html>
