<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اطلاعات حساب کاربری</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/frontend/vendors/bootstrap.min.css" />

    <!-- SWIPER -->
    <link rel="stylesheet" href="/assets/frontend/vendors/swiper.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/frontend/styles/User-account-information.css" />

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body class="bg">

      <!-- START Header user-account-information -->
    <div class="container-fluid container-admin" style="position:relative ;">
     
      <header class="header-m-oprator">
        <div class="title">
          <span class="back"><img src="/assets/frontend/images/icon/Group 1900.png"
              alt="icon"
              /></span>
          <h5>اطلاعات حساب کاربری</h5>
        </div>
        <div class="The-dividing-line"></div>
      </header>
       <!-- end Header user-account-information -->
<!-- START MENU-BOTTOM -->
<div class="menu-bottom">
  <ul class="list-bottom">
    <li class="item-bottom active">
      <a href="#">
        <img src="/assets/frontend/images/icon/users.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/home.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/Bag.png" alt="icon" />
      </a>
    </li>
    <li class="item-bottom">
      <a href="#">
        <img src="/assets/frontend/images/icon/hat.png" alt="icon" />
      </a>
    </li>
  </ul>
</div>
<!-- END MENU-BOTTOM -->
      <!-- START MAIN -->
      <main class="main">

       <!-- start content information account -->
          <section class="information-account">
              <div class="information-account-content">
                <div class="col-3 image ">
                  <img src="/assets/frontend/images/icon/admin.png">
                </div>
              <!-- start -->
              <div class="col-12 col-md-4 p-2 ">
                <div class="information-item p-1">
                      <div class="col-6  p-1 value">
                          <span>نام و نام خانوادگی</span>
                      </div>
                    <div class="col-6 p-1 value-item">
                      <input type="text" name="name" id="Fname" placeholder="ویرایش">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                  <div class="information-item p-1">
                        <div class="col-5  p-1 value">
                            <span>شهر کرمان</span>
                        </div>
                      <div class="col-7 p-1 value-item">
                        <input type="text" name="ncity" id="city" placeholder="ویرایش">
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                  <div class="information-item p-1">
                        <div class="col-5  p-1 value">
                            <span>شماره تماس</span>
                        </div>
                      <div class="col-7 p-1 value-item">
                        <input type="text" name="phone" id="phoneN" placeholder="0912-002-0202">
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                  <div class="information-item p-1">
                        <div class="col-5  p-1 value">
                            <span>رمز عبور</span>
                        </div>
                      <div class="col-7 p-1 value-item">
                        <input type="text" name="pass" id="password" placeholder="password">
                    </div>
                  </div>
              </div>
              <div class="col-12 col-md-4 p-2 ">
                  <div class="information-item p-1">
                        <div class="col-11  p-1 value">
                            <span>شماره کارت جهت بازگرداندن وجه</span>
                        </div>
                      <div class="col-1 p-1 value-item">
                          <img class="p-1" src="/assets/frontend/images/icon/Group 1900.png" alt="">
                    </div>
                  </div>
              </div>
            </div>
        </section>
      </main>

    </div>

    <!--BOOTSTRAP -->
    <script src="/assets/frontend/vendors/bootstrap.min.js"></script>

    <!-- MAIN JS -->
  </body>
</html>
